@model SwiftMeal.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}



<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="card border-0" style="width: 30rem; background-color: rgb(250,250,250);">
        <div class="card-body">
            <h1 class="card-title text-center">Sign In</h1>
            <form method="POST">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-block custom-btn-primary rounded-pill">Sign In</button>
            </form>
        </div>
    </div>
</div>

