@{
    ViewData["Title"] = "Home Page";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm my-auto">
                <h1>Discover restaurants that deliver near you.</h1>
                <form>
                    <div class="input-group mt-4 pl-2 pr-5">
                        <input type="text" class="form-control" size="2" placeholder="Enter your delivery address">
                        <div class="input-group-append">
                            <button type="button" class="btn custom-btn-primary">SEARCH</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm my-auto ml-5 pt-5">
                <img src="~/img/online_delivery.svg" class="img-fluid mx-auto w-75">
            </div>
        </div>
    </div>
