
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Dashboard</h1>

<a asp-action="ListRoles" class="btn custom-btn-primary">Manage Roles</a>
<a asp-action="ListUsers" class="btn custom-btn-primary">Manage Users</a>
<a asp-action="Index" asp-controller="Categories" class="btn custom-btn-primary">Manage Categories</a>
<a asp-action="List" asp-controller="Products" class="btn custom-btn-primary">Manage Products</a>

