@model SwiftMeal.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <hr />

    <div class="card mx-auto" style="width: 20rem;">
        <img class="card-img-top" src="~/img/@Model.Image" />
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">@Model.Description</p>
        </div>

        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.ProductID" class="btn p-0 m-0" style="width: auto">
            <div class="card-footer bg-primary text-white">
                <h6>Add to Cart<span class="float-right">$@Model.Price</span></h6>
            </div>
        </a>
    </div>


    <div class="mt-5">
        <a asp-action="Index">Back to List</a>
    </div>
</div>
