@model IEnumerable<SwiftMeal.Models.Product>


@{
    ViewData["Title"] = "Dishes";
}


@foreach (var item in Model)
{

    <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.ProductID">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">@item.ProductName</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text font-weight-normal">$@item.Price</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="~/img/@item.Image" class="card-img h-100" alt="...">
                </div>
            </div>
        </a>
    </div>

}



